<div *ngIf="home | async as content">
    
        <div class="d-flex flex-wrap flex-xl-nowrap flex-lg-nowrap flex-md-nowrap">
          <div class="p-2 px-4">
              <h1>{{ content.title }}</h1>
              <hr>
              <h1>{{ content.description}}</h1>
          </div>
          <div class="p-2">
            
             </div>
        </div>
        <br>
        <br>
        <br><br>
        <div class="wrapper">
          <a routerLink="/show-cv"> <button type="button" class="btn btn-primary btn-lg text-center">Check my CV</button></a>
        </div>
        <br>
        <br>
        <br>
        <br>
        
        </div>